/Reti_logiche.cache
/Reti_logiche.hw
/Reti_logiche.ip_user_files
/Reti_logiche.runs
/Reti_logiche.sim
/project_tb_behav.wcfg
/Reti_logiche.srcs/sim_1
/Documentation/build
/Documentation/10613915_10599689.synctex.gz
/Reti_logiche.xpr
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.aux
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.log
*.out
*.fls
*.toc
